/.output
/.bpf_output
/.loader_output
/.linker_scripts
/.header_override
/scripts/bpf_id_func_mapping.txt
/bootstrap
/minimal
/minimal_legacy
/minimal_ns
/uprobe
/kprobe
/fentry
/profile
/usdt
/sockfilter
/tc
/ksyscall
/task_iter
/lsm
/cmake-build-debug/
/cmake-build-release/
/logs

prog_helper_addr.csv
