/.output
/.bin_output
/.bpf_output
/.header_override
/scripts/bpf_id_func_mapping.txt
/bootstrap
/minimal
/minimal_legacy
/minimal_ns
/uprobe
/kprobe
/fentry
/profile
/usdt
/sockfilter
/tc
/ksyscall
/task_iter
/lsm
/cmake-build-debug/
/cmake-build-release/
